# Dependencies
node_modules
yarn.lock

# Cache files and folders
cache
.eslintcache
.stylelintcache

# Dist folders
dist
static
css
js
robots.txt
index.html
favicon.ico


# VSCode
.vscode

# Intellij idea
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride
